*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color:black;
}

.header{
   
}
.content{
   
}

.header, .footer{
    min-height: 5vh;
}
.content{
    min-height: 80vh;
}

.first{
	background-image:url(ANIME.jpg);
	background-size:100% 100%;
	height: 300px;
	font-size:100px;
	color:#262626;
	vertical-align: baseline;	
}

h3{
	color:white;
	font-family:Helvetica;
	display:inline-block;
	font-size: 30px;
	margin-right:526px;
	border-bottom:5px solid #730099;
}

p{
	color:white;
	font-size:25px;
	font-family: Lucida Console;
}

h1{
	color:white;
}

img{
	width:500px;
	height:500px;
}

.information{
	border:50px solid black;
}