*{
    margin: 0px;
    padding: 0px;
}

body{
    background: linear-gradient(to bottom, #9900cc 0%, #000000 100%);
   
}


.content_2{
   min-height: 80vh;
}

.header, .footer{
    min-height: 5vh;
}
.content,content_3{
    
}

.first{
	background-image:url(ANIME.jpg);
	background-size:100% 100%;
	height: 300px;
	font-size:100px;
	color:#262626;
	vertical-align: baseline;	
}

button{
	color:#990000;
	font-family:Helvetica;
	display:inline-block;
	font-size: 30px;
	border-bottom:5px solid #730099;
	background-color:black;
}

p{
	color:white;
	font-size:25px;
	font-family: Lucida Console;
}

h1{
	color:white;
}

img{
	width:500px;
	height:500px;
}

.button{
	display: inline-block;
	text-indent: 400px;
}

h1{
	color:#990000;
	font-size:50px;
}

.h3{
	color:#990000;
	font-size:35px;
}

.footer{
	font-size:20px;
	font-family:cursive;
}